<div class="site-login" id="login" style="display:none">
  <div class="signup-form-container">

    <header class="signup-form-header">
      <h1>Login</h1>
    </header>


    <main id="signup-form" class="signup-form-body">

      <div id="login" method="post">
        <p>
          <label>会員ID</label>
          <input type="text" id="mid" name="id" placeholder="会員IDを入力してください。" required />
        </p>

        <p>
          <label>パスワード</label>
          <input type="password" id="mpw" name="pw" placeholder="パスワードを入力してください。" required />
        </p>

        <p>
          <input type="submit" name="submit" id="btn2" value="Login" onclick="javascript:gologin()"/>
        </p>

      </div>

    </main>

  </div>
</div>
