    <div class="column side">
        <a href="/project/Home/index" class="active"><img src="../img/bubletea.png" width="250px" style="margin-left:30px"></a>
        <ul style="width: 300px; margin-top: 50px ; margin-left: 20px">
            <li><a href="/project/Home/index" class="active">Home</a></li>
            <li><a href="/project/Home/getpowder?cname=teapowder">ティパウダー</a></li>
            <li><a href="/project/Home/getpowder?cname=topping">トッピング</a></li>
            <li><a href="/project/Home/getpowder?cname=syrup">シロップ</a></li>
            <li><a href="/project/Home/getpowder?cname=tool">etc</a></li>
        </ul>
    </div>
